.request-exceeded__container {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--font-color-red);
}

.request-exceeded__container h4 {
  font-size: var(--font-size-md);
}

@media (min-width: 1024px) {
  .request-exceeded__container h4 {
    font-size: var(--font-size-lg);
  }
}
