.banner__content-modal {
  padding-top: 50px !important;
}
.banner--fadeBottom-modal {
  height: 70px !important;
}
.banner {
  position: relative;
  height: 224px;
  color: #fff;
  object-fit: contain;
}

.banner__content {
  margin-left: 20px;
  padding-top: 60px;
  height: 95px;
}

.banner__title {
  width: fit-content;
  font-size: var(--font-size-lg);
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 10px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 42%,
    rgba(0, 0, 0, 0) 130.17%
  );
}

.banner__title-modal {
  font-size: var(--font-size-md) !important;
}

.banner__description {
  width: 14rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: var(--font-size-xs);
  max-width: 360px;
  height: 100px;
}
.banner__description-modal {
  width: 14rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: var(--font-size-xs) !important;
  max-width: 360px;
  height: 100px;
}
.banner__button {
  font-size: var(--font-size-sm);
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;

  font-weight: 700;
  border-radius: 0.2vw;
  margin-right: 1rem;
  padding: 0.4rem 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__buttons-modal .banner__button {
  font-size: var(--font-size-xs) !important;
  font-weight: 700;
  border-radius: 0.2vw;
  margin-right: 1rem;
  padding: 0.4rem 1.4rem;
}

.banner--fadeBottom {
  height: 8.05rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    var(--bg-color)
  );
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner_exit-container {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.banner__exit-button {
  width: auto;
  margin: 16px;
  background-color: transparent;
  border: none;
}

.banner__exit-button:hover {
  cursor: pointer;
}

.banner__exit-button img {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .banner__content-modal {
    padding-top: 20px !important;
  }
  .banner__title-modal {
    font-size: var(--font-size-lg) !important;
  }
  .banner__description-modal {
    width: 37.5rem !important;
    max-width: 400px !important;
    font-size: var(--font-size-sm) !important;
  }
  .banner__button {
    border-radius: 0.2vw;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
  }
  .banner__description {
    width: 37.5rem;
    max-width: 400px;
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 1024px) {
  .banner__content-modal {
    padding-top: 100px !important;
  }
  .banner {
    height: 448px;
  }
  .banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  .banner__title {
    font-size: var(--font-size-xl);
  }
  .banner__title-modal {
    font-size: var(--font-size-xl) !important;
  }
  .banner__button {
    font-size: var(--font-size-md);
  }
  .banner__buttons-modal .banner__button {
    font-size: var(--font-size-md) !important;
    border-radius: 0.2vw !important;
    margin-right: 1rem !important;
    padding: 0.5rem 2rem !important;
  }
  .banner__description {
    max-width: 600px;
    height: 160px;
    font-size: var(--font-size-md);
  }
  .banner__description-modal {
    max-width: 600px !important;
    height: 160px !important;
    font-size: var(--font-size-lg) !important;
  }
  .banner--fadeBottom {
    height: 16.2rem;
  }
  .banner--fadeBottom-modal {
    height: 200px !important;
  }
}
